
body {
    display: block;
    margin: 8px;

}
.div{
    height: 80%;
    width: 80%;
}
#point {
    color: red;
    background-color: cornflowerblue;
    align: center;
    
}
#UofI {
    color: green;
}
#UofI2 {
    font-size: 18px;
    background-color: green;
    display: inline-block;
    height: 80%;
    width: 100%;
}
.jpg {
    display: block;
    height: 20%;
    width: 50%;
}
p {
    text-align: left;
}